In [2]:
n=float( input("enter number"))

enter number 10

In [8]:
n=float( input("enter number"))
if n>=0 : 
   print ("the absolute value of ",n," is" ,n)
else:
   print ("the absolute value of ",n," is" , -n)

enter number -9

the absolute value of  -9.0  is 9.0

enter name sonali

In [19]:
#if else multiple

name =input("enter name")
print(name)

if name =="sonali":
   print("the entered name is", name)
elif name=="vishal":
   print("the entered name is", name)
elif name=="manali":
   print("the entered name is", name)
elif name=="gaju":
   print("the entered name is", name)
else :
   print ("the entered", name, "is not valid")

enter name mom

mom
the entered mom is not valid

In [26]:
#Nested ifs else

name2="animal"
Animal_name="dog"

if name2=="animals":
    if Animal_name=="cat":
        print ("valid type and subtype")
    else:
        print("valid name2" , name2 , "but invalid subtype")
else:
   print ("both type and subtype invalid")

both type and subtype invalid

In [27]:
#while

In [29]:
a=0

while a<5:
  print(a, "first print")
  a= a+1
  print(a, "second print")

0 first print
1 second print
1 first print
2 second print
2 first print
3 second print
3 first print
4 second print
4 first print
5 second print

In [ ]:
a=0

while a<5:
  print(a, "first print")
  a= a+1
    print(a, "second print")

In [ ]:
a=1
s=0

print("enter the number for sum")
print("put 0 for exit")

while a!=0:
    print("the sum is", s)
    a= input("enter number")
    s=s+a
print("total sum is", s)