In [1]:
import datetime

In [2]:
date= datetime.date(2025, 7, 4)

In [3]:
print(date)

2025-07-04

In [4]:
#Library<---module<--functions

In [18]:
from datetime import date

any_date= date.fromtimestamp(1254567882)
print( any_date)

2009-10-03

In [1]:
from datetime import date
current_date= date.today()
print(current_date)

2025-07-15

In [4]:
from datetime import date

current= date.today()

print(current.year)
print(current.day)
print(current.month)
print(current)

2025
15
7
2025-07-15

In [5]:
#time

In [11]:
from datetime import time

a=time()
print(a)

b=time(11,30,0)
print(b)

c=time(15,5,0)
print(c)

00:00:00
11:30:00
15:05:00

In [12]:
from datetime import datetime

print(datetime.now())

2025-07-15 15:07:04.609297

In [14]:
from datetime import time

c= time(hour=15, minute=8 , second= 0)
d=time(15,8,0)
print(c)
print(d)

15:08:00
15:08:00

In [25]:
from datetime import datetime, date

date1=date(year=2025, month=3, day=12)
date2=date(year=1996, month=3, day=12)
x=date1-date2
x=x/365
print(x)

29 days, 0:27:36.986301

In [26]:
type(x)
print(type(x))

<class 'datetime.timedelta'>

In [28]:
datetime1 = datetime(2025, 3, 12, 5, 16, 30)
datetime2 = datetime(2024, 2, 10, 4, 10, 40)
z = datetime1 - datetime2
print(z)

396 days, 1:05:50

In [30]:
print(z.total_seconds())

34218350.0

In [31]:
ab=datetime.now()

In [32]:
print(ab)

2025-07-15 23:06:29.375805

In [43]:
from datetime import datetime

year= datetime.now()
print(datetime.strftime(year ,"%Y"))

print(datetime.strftime(year ,"%m"))
print(datetime.strftime(year ,"%d"))

2025
07
15

In [50]:
from datetime import datetime
T= year.strftime("%H:%M:%S")
print(year)

2025-07-15 23:13:41.336911

In [52]:
fh = open('abc1234.txt', 'w')
fh.writelines("This is line no. 1")
fh.writelines("\n")
fh.writelines("This is line no. 2")
fh.close()

In [53]:
fh = open('abc1234.excel', 'w')
fh.writelines("This is line no. 1")
fh.writelines("\n")
fh.writelines("This is line no. 2")
fh.close()

In [55]:
pip install xlsxwriter
import xlsxwriter

# Create workbook and worksheet
workbook = xlsxwriter.Workbook('abc1234.xlsx')
worksheet = workbook.add_worksheet()

# Write data
worksheet.write('A1', 'This is line no. 1')
worksheet.write('A2', 'This is line no. 2')

# Close the workbook
workbook.close()

SyntaxError: invalid syntax (3398261699.py, line 1)

In [58]:
from openpyxl import Workbook

# Create workbook and worksheet
x = Workbook()
y = x.active

# Write data
y['A1'] = "This is line no. 1"
y['A5'] = "This is line no. 2"

# Save the file
x.save('project1.xlsx')

In [59]:
fh = open('abc1234.excel', 'r')
print(fh.read())
fh.close()

This is line no. 1
This is line no. 2

In [60]:
x.read('project1.xlsx')

AttributeError: 'Workbook' object has no attribute 'read'

In [61]:
from openpyxl import load_workbook

# Load existing file
workbook = load_workbook('project1.xlsx')
worksheet = workbook.active

# Read data
value1 = worksheet['A1'].value
value5 = worksheet['A5'].value
print(value1)  # Output: This is line no. 1
print(value5)  # Output: This is line no. 2

This is line no. 1
This is line no. 2

In [62]:
pip install bs4

Collecting bs4Note: you may need to restart the kernel to use updated packages.

  Using cached bs4-0.0.2-py2.py3-none-any.whl.metadata (411 bytes)
Requirement already satisfied: beautifulsoup4 in c:\users\sonali\anaconda3\lib\site-packages (from bs4) (4.12.3)
Requirement already satisfied: soupsieve>1.2 in c:\users\sonali\anaconda3\lib\site-packages (from beautifulsoup4->bs4) (2.5)
Using cached bs4-0.0.2-py2.py3-none-any.whl (1.2 kB)
Installing collected packages: bs4
Successfully installed bs4-0.0.2

In [63]:
pip install lxml

Requirement already satisfied: lxml in c:\users\sonali\anaconda3\lib\site-packages (5.3.0)
Note: you may need to restart the kernel to use updated packages.

In [74]:
import bs4 as bs
import urllib.request

x= urllib.request.urlopen('https://github.com/Sonalipawar12396').read()
y= bs.BeautifulSoup(x, 'lxml')
print(y.title)

<title>Sonalipawar12396 (SONALI) · GitHub</title>

In [70]:
import bs4 as bs
import urllib.request

x = urllib.request.urlopen('https://github.com/Sonalipawar12396').read()
y = bs.BeautifulSoup(x, 'lxml')
print(y.title)

<title>Sonalipawar12396 (SONALI) · GitHub</title>

In [75]:
import bs4 as bs
import urllib.request
import time
import random

def scrape_hotel_reviews():
    headers = {'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36'}
    
    try:
        url = "https://www.tripadvisor.com/Hotel_Review-g304551-d301982-Reviews-Taj_Mahal_Hotel-Mumbai.html"
        req = urllib.request.Request(url, headers=headers)
        time.sleep(random.uniform(1, 3))
        
        with urllib.request.urlopen(req) as response:
            html_content = response.read()
        
        soup = bs.BeautifulSoup(html_content, 'html.parser')
        
        selectors = ['.review-text', '.review-content', '[data-test="review-text"]', '.user-review p']
        reviews = []
        
        for selector in selectors:
            review_elements = soup.select(selector)
            if review_elements:
                break
        
        for i, review_element in enumerate(review_elements[:5]):
            review_text = review_element.get_text(strip=True)
            if review_text:
                reviews.append(f"Review {i+1}: {review_text}")
        
        if reviews:
            print("\n=== TOP 5 TAJ HOTEL REVIEWS ===\n")
            for review in reviews:
                print(review)
                print("-" * 50)
        else:
            print("No reviews found.")
            
    except Exception as e:
        print(f"Error: {e}")

def scrape_sample_data():
    sample_reviews = [
        "Excellent service and beautiful rooms! The staff was incredibly helpful and the location is perfect.",
        "Amazing experience at Taj Hotel. The food was outstanding and the ambiance was perfect for our anniversary.",
        "Great hospitality and luxurious amenities. Would definitely recommend this hotel to anyone visiting Mumbai.",
        "The heritage and charm of this hotel is unmatched. Beautiful architecture and impeccable service.",
        "Wonderful stay with family. The rooms were spacious and clean, and the breakfast was delicious."
    ]
    
    print("\n=== SAMPLE TAJ HOTEL REVIEWS ===\n")
    
    for i, review in enumerate(sample_reviews, 1):
        print(f"Review {i}: {review}")
        print("-" * 50)

scrape_sample_data()

=== SAMPLE TAJ HOTEL REVIEWS ===

Review 1: Excellent service and beautiful rooms! The staff was incredibly helpful and the location is perfect.
--------------------------------------------------
Review 2: Amazing experience at Taj Hotel. The food was outstanding and the ambiance was perfect for our anniversary.
--------------------------------------------------
Review 3: Great hospitality and luxurious amenities. Would definitely recommend this hotel to anyone visiting Mumbai.
--------------------------------------------------
Review 4: The heritage and charm of this hotel is unmatched. Beautiful architecture and impeccable service.
--------------------------------------------------
Review 5: Wonderful stay with family. The rooms were spacious and clean, and the breakfast was delicious.
--------------------------------------------------

In [76]:
#lambda

In [82]:
x= lambda y : y +10

print(x(8))

18

In [84]:
def x(y) : return y +10  #same as lambda but with defining
print(x(8))

18

In [86]:
list1 = [2,45,68,20,40,50,60,89.748,680]

new_list = list(filter(lambda y : y%2==0, list1))

print(new_list)

[2, 68, 20, 40, 50, 60, 680]

In [88]:
list1 = [2,45,68,20,40,50,60,89.748,680]

new_list = list(map(lambda y : y+2, list1))

print(new_list)

[4, 47, 70, 22, 42, 52, 62, 91.748, 682]

In [89]:
#regular expressions- re

In [97]:
import re

x= " Sonali is 29 , Vishal is 36, Manali is 28, Gajanan is 21 "

print(x)

ages= re.findall( r'\d{1,3}', x)
names=re.findall(r'[A-Z][a-z]*', x)

print(ages)
print(names)

dict= {}
z=0

for eachname in names:
  dict[eachname]=ages[z]
  z+=1

print(dict)

 Sonali is 29 , Vishal is 36, Manali is 28, Gajanan is 21
['29', '36', '28', '21']
['Sonali', 'Vishal', 'Manali', 'Gajanan']
{'Sonali': '29', 'Vishal': '36', 'Manali': '28', 'Gajanan': '21'}

In [104]:
import re

email= "kaol.com md@com @sas.com ds@.com 125@abd.ty.com4 kiran@yahoo.gov.in sonalipawar@gmail.com vishal.ahire@yahoo.com"

print( "Email Matches", len (re.findall ("[\w._%+-]{1,20}@[\w.-]{2,20}. [A-Za-z]{2,3}", email)))

Email Matches 3

In [107]:
import re

email="kaol.com md@com @sas.com ds@.com 125@abd.ty.com4 kiran@yahoo.gov.in sonalipawar@gmail.com vishal.ahire@yahoo.com"

print("email matches", (re.findall(r"\w+@\w+\.\w+",email)))

email matches ['125@abd.ty', 'kiran@yahoo.gov', 'sonalipawar@gmail.com', 'ahire@yahoo.com']

In [106]:
import re
email="kaol.com md@com @sas.com ds@.com 125@abd.ty.com4 kiran@yahoo.gov.in sonalipawar@gmail.com vishal.ahire@yahoo.com"

matches = re.findall(r"\w+@\w+\.\w+", email)
print("email matches", len(matches))
print("matched emails:", matches)

email matches 4
matched emails: ['125@abd.ty', 'kiran@yahoo.gov', 'sonalipawar@gmail.com', 'ahire@yahoo.com']

In [111]:
import re

phone= "91-8454803078"

if (re.search(r"\d{2}-\d{10}", phone)):
    print("valid phone number")
else:
    print("invalid phone number")

valid phone number

In [116]:
from re import findall
import urllib.request  # Added missing import

any_url = "http://www.summet.com/dmsi/html/codesamples/addresses.html"
response = urllib.request.urlopen(any_url)
html = response.read()  
htmlstr = html.decode()  
pdata = findall(r"\(\d{3}\) \d{3}-\d{4}", htmlstr)  # Added raw string
for item in pdata: 
    print(item)

(257) 563-7401
(372) 587-2335
(786) 713-8616
(793) 151-6230
(492) 709-6392
(654) 393-5734
(404) 960-3807
(314) 244-6306
(947) 278-5929
(684) 579-1879
(389) 737-2852
(660) 663-4518
(608) 265-2215
(959) 119-8364
(468) 353-2641
(248) 675-4007
(939) 353-1107
(570) 873-7090
(302) 259-2375
(717) 450-4729
(453) 391-4650
(559) 104-5475
(387) 142-9434
(516) 745-4496
(326) 677-3419
(746) 679-2470
(455) 430-0989
(490) 936-4694
(985) 834-8285
(662) 661-1446
(802) 668-8240
(477) 768-9247
(791) 239-9057
(832) 109-0213
(837) 196-3274
(268) 442-2428
(850) 676-5117
(861) 546-5032
(176) 805-4108
(715) 912-6931
(993) 554-0563
(357) 616-5411
(121) 347-0086
(304) 506-6314
(425) 288-2332
(145) 987-4962
(187) 582-9707
(750) 558-3965
(492) 467-3131
(774) 914-2510
(888) 106-8550
(539) 567-3573
(693) 337-2849
(545) 604-9386
(221) 156-5026
(414) 876-0865
(932) 726-8645
(726) 710-9826
(622) 594-1662
(948) 600-8503
(605) 900-7508
(716) 977-5775
(368) 239-8275
(725) 342-0650
(711) 993-5187
(882) 399-5084
(287) 755-9948
(659) 551-3389
(275) 730-6868
(725) 757-4047
(314) 882-1496
(639) 360-7590
(168) 222-1592
(896) 303-1164
(203) 982-6130
(906) 217-1470
(614) 514-1269
(763) 409-5446
(836) 292-5324
(926) 709-3295
(963) 356-9268
(736) 522-8584
(410) 483-0352
(252) 204-1434
(874) 886-4174
(581) 379-7573
(983) 632-8597
(295) 983-3476
(873) 392-8802
(360) 669-3923
(840) 987-9449
(422) 517-6053
(126) 940-2753
(427) 930-5255
(689) 721-5145
(676) 334-2174
(437) 994-5270
(564) 908-6970
(577) 333-6244
(655) 840-6139